// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1{
color: #F78AE0;
font-family: 'Montserrat', sans-serif;
}

p{
color: #B0F566;
font-family: 'Montserrat', sans-serif;
}

form{
color: #F4D7C3;

}

.btn-ask{
color: #F4D7C3;
font-style: st;
text-decoration: none;

}
